{% extends 'base.html.twig' %}

{% block body_class %}post-details{% endblock %}

{% block content %}
    <section class="container">
        <article class="post">
            <h1>{{ post.title }}</h1>

            <div class="excerpt">
                {{ post.summary }}
            </div>

            <div class="img-container">
                <a class="img" style="background-image:url({{ post.webPath | imagine_filter('promoted_post') }});"></a>
            </div>

            <div class="body">
                {{ post.content | md2html }}
            </div>

            <div class="meta">
                <time datetime="{{ post.publishedAt | date('Y-m-d\\TH:i:sP') }}">{{ post.publishedAt | date('d-m-Y') }}</time>
            </div>

        </article>
    </section>
{% endblock %}