{% extends 'base.html.twig' %}

{% block body_class %}post-details{% endblock %}

{% block content %}
    <section class="container">
        <article class="post col-md-12">
            <h1>{{ post.title }}</h1>
            <div class="meta">
                <time datetime="{{ post.publishedAt | date('c') }}">{{ post.publishedAt | date('F j, Y') }}</time>
            </div>

            <div class="excerpt">
                {{ post.summary }}
            </div>

            {% if post.webPath %}
            <div class="img-container" style="background-image:url({{ asset(post.webPath) }});">
            </div>
            {% endif %}

            <div class="body">
                {{ post.content | md2html }}
            </div>

        </article>
    </section>
{% endblock %}
