{% extends 'base.html.twig' %}

{% block body_class %}post-list{% endblock %}

{% block page_title %}To quality & beyond, by Wanjee{% endblock %}

{% block meta %}
    <meta name="description" content="Quality focused small posts about PHP projects (Symfony, Drupal) and web development best practices in general. ">

    <meta property="og:title" content="To quality & beyond" />
    <meta property="og:description" content="Quality focused small posts about PHP projects (Symfony, Drupal) and web development best practices in general. ">
    <meta property="og:url" content="{{ url('posts_index') }}" />
    <meta property="og:image" content="" />
{% endblock %}

{% block content %}
    {% set header_vars = {
        title : 'To quality and beyond',
        subheading : 'Quality focused small posts about PHP projects (Symfony, Drupal) and web development best practices in general.',
        image: asset('img/blog.jpg')
    } %}

    {% include 'partial/header.html.twig' with header_vars %}

    <section class="container">
        {% for post in posts %}
            {% set postUrl = path('post_details', {'slug': post.slug}) %}
            <div class="row">
                <article class="post col-md-10 col-md-offset-1">
                    <div class="img-container">
                        {% if post.webPath is not empty %}
                            <a href="{{ postUrl }}" style="background-image:url({{ post.webPath | imagine_filter('post_promoted') }});" ></a>
                        {% else %}
                            <a href="{{ postUrl }}"></a>
                        {% endif %}
                    </div>

                    <div class="copy-container">
                        <div class="copy">
                            <h2><a href="{{ postUrl }}" class="link-blog">{{ post.title }}</a></h2>

                            <div class="excerpt">
                                {{ post.summary }}
                            </div>
                        </div>
                    </div>
                    <div class="meta">
                        <time datetime="{{ post.publishedAt | date('c') }}">{{ post.publishedAt | date('F j, Y') }}</time>
                    </div>
                </article>
            </div>
        {% endfor %}
    </section>

    {{ knp_pagination_render(posts) }}
{% endblock %}
