<div class="col-md-6 col-lg-4">
    <article class="post">
        <div class="meta">
            <time datetime="{{ post.publishedAt | date('Y-m-d\\TH:i:sP') }}">{{ post.publishedAt | date('d-m-Y') }}</time>
        </div>

        <div class="img-container">
            <a class="img" style="background-image:url({{ post.webPath | imagine_filter('promoted_post') }});" href="#/posts/{{ post.slug }}"></a>
        </div>

        <div class="copy-container">
            <div class="copy">
                <h2><a href="#/posts/{{ post.slug }}">{{ post.title }}</a></h2>

                <div class="excerpt">
                    {{ post.summary }}
                </div>
            </div>
        </div>
        <a class="link" href="#/posts/{{ post.slug }}">Read more <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </article>
</div>