{% set postUrl = path('post_details', {'slug': post.slug}) %}

<article class="post teaser">
    <div class="meta">
        <time datetime="{{ post.publishedAt | date('c') }}">{{ post.publishedAt | date('F j, Y') }}</time>
    </div>

    <div class="img-container">
        <a class="img" style="background-image:url({{ post.webPath | imagine_filter('post_promoted') }});"
           href="{{ postUrl }}"></a>
    </div>

    <div class="copy-container">
        <div class="copy">
            <h2><a href="{{ postUrl }}">{{ post.title }}</a></h2>

            <div class="excerpt">
                {{ post.summary }}
            </div>
        </div>
    </div>
    <a class="link" href="{{ postUrl }}">Read more <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</article>
