{% extends 'base.html.twig' %}

{% block body_class %}blog post-details{% endblock %}

{% block page_title %}{{ post.title }}, by Wanjee{% endblock %}

{% block meta %}
    <meta name="description" content="{{ post.summary | e('html_attr')  }}">
    <meta property="og:title" content="{{ post.title | e('html_attr') }}" />
    <meta property="og:description" content="{{ post.summary | e('html_attr') }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url('post_details', {'slug': post.slug}) }}" />
    <meta property="og:image" content="{{ absolute_url(asset(post.webPath)) }}" />
    <meta property="article:published_time" content="{{ post.publishedAt | date('c') }}" />
    <meta property="article:author" content="Wanjee" />
{% endblock %}

{% block content %}
    {% set header_vars = {
        title : post.title,
    } %}

    {% include 'partial/header.html.twig' with header_vars %}

    <section class="container">
        <div class="row">
            <div class="inner-nav col-md-12">
                <a href="{{ path('posts_index') }}" class="link-blog"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to list</a>
            </div>
        </div>
        <div class="row">
            <article class="post">
                <div class="meta col-md-2">
                    <time datetime="{{ post.publishedAt | date('c') }}">{{ post.publishedAt | date('F j, Y') }}</time>
                </div>

                <div class="article-inner col-md-8">
                    <h1>{{ post.title }}</h1>

                    <div class="excerpt">
                        {{ post.summary }}
                    </div>

                    {% if post.webPath %}
                    <div class="img-container" style="background-image:url({{ asset(post.webPath) }});">
                    </div>
                    {% endif %}

                    <div class="body">
                        {{ post.content | md2html }}
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
