{% set postUrl = path('post_details', {'slug': post.slug}) %}

<article class="post teaser">

    <div class="copy-container">
        <div class="copy">
            <h2><a href="{{ postUrl }}" class="link-blog">{{ post.title }}</a></h2>

            <div class="excerpt">
                {{ post.summary }}
            </div>
        </div>
    </div>

    <div class="meta row">
        <div class="col-xs-6 time">
            <time datetime="{{ post.publishedAt | date('c') }}">{{ post.publishedAt | date('F j, Y') }}</time>
        </div>
        <div class="col-xs-6 read-more">
            <a href="{{ postUrl }}" class="link link-blog text-right">Read more <span
                        class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
    </div>
</article>
